@model List<user_details>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


Male : @ViewBag.alltrue
Female : @ViewBag.allfalse




<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Usernam</th>
      <th scope="col">Fname</th>
      <th scope="col">lname</th>
       <th scope="col">gender</th>
      <th scope="col">password</th>
      <th scope="col">ststus</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var x in Model)
      {
          
      
    <tr>
          <td>@x.user_id</td>
      <td>@x.username</td>
       <td>@x.first_name</td>
       <td>@x.last_name</td>
       <td>@x.gender</td>
      <td>@x.password</td>
      <td>@x.status</td>
      <td><a asp-action="Details" asp-controller="Home" asp-route-id="@x.user_id">View</a></td>
     
    </tr>
      }
   
  </tbody>
</table>
